.navbar-brand-name {
  text-align: center;
  margin: 20px;
  width: 100%;
  height: 100%;
}
.navbar-collapsed-brand-name {
  margin: 0 15px;
  font-weight: 600;
}
.navbar {
  text-align: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
#navbarA a {
  cursor: pointer;
}

#navbarA li {
  display: flex;
  padding-left: 15px;
}

#navbar-dot {
  align-self: center;
  padding-left: 10px;
  padding-right: 0px;
  color: #dedede;
}

.landing-grid {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
